
  <div class="page-wrapper">
    <header>
      <div class="header-content">
        <div id="purdue-logo">
          <a href="http://www.purdue.edu" title="Purdue University homepage">
            <img src="https://live-purdue-marketing.pantheonsite.io/app/uploads/2022/09/PU-H-logo.jpg" style="width: 200px; height: auto" alt="Purdue University">
          </a>
        </div>
        <div id="entity-title">
          <a href="https://purdue.edu/" target="_blank">Test Department</a>
        </div>
      </div>
      <nav class="top-nav">
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Programs</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
