<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://www.purdue.edu/purdue/images/favicon.ico" rel="shortcut icon"> <!-- page title icon -->
  <title>Template</title>
  <link rel="stylesheet" type="text/css" href="https://www.purdue.edu/purdue/fonts/champion-all.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <script defer src="script.js"></script>
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
