<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://www.purdue.edu/purdue/images/favicon.ico" rel="shortcut icon"> <!-- page title icon -->
  <title>Template</title>
  <link rel="stylesheet" type="text/css" href="https://www.purdue.edu/purdue/fonts/champion-all.css" />
  <link rel="stylesheet" href="{{ '/_assets/css/style.css' | relative_url }}"> <!-- your CSS -->
</head>
<body>
      {% include header.html %}
    <div class="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
</body>
</html>
